.about{
    background-color: rgba(255,255,255,0.9);
  margin: 10px;
  border-radius: 5px;
  padding: 15px;  
    
}
.about h2{
    color: var(--maincolor);
    text-decoration: underline;
    text-align: center;
    margin-bottom: 40px;
}
.about article{
    max-width: 1100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about article img{
    max-width: 250px;
    border-radius: 250px;
    border: 2px solid gray ;
    box-shadow: 0 0 1em black;
}
.about article h3{
    margin-top: 10px;
    margin-bottom: 15px;
    color:var(--secondarycolor);
    text-shadow: 1px 1px 1px black;
    font-size: xx-large;
    text-align: center;
}
.container {
    min-height: 100vh;  
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    
  }
  @media screen and (min-width:700px) {
      .about article{
          padding: 50px;
          margin-bottom: 0px;
          padding-bottom: 0px;
          display: grid;
      }
      .about article:nth-child(2){
          grid-template-columns: 250px auto;          

      }
      .about article:nth-child(3){
          grid-template-columns: auto 250px;          

      }
      .about article:nth-child(3) img{
          grid-column: 2;
      }
      .about article:nth-child(3) div{
        text-align: right;
        grid-column: 1;
        grid-row: 1;
    }
      .about article div{
          padding: 30px;
      }
        
      
  }